$base-measure: 1rem;
$custom-gradient: linear-gradient( hsl (236,63%,64%), hls (237,63%,64%));
$custom-gradient-inverted:  linear-gradient( hsl (237,63%,64%),(236,63%,64%));

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial;
}
.card{
    background-color: white;
    border-radius: 10px;
    padding: $base-measure*2;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #acacac;
    box-shadow: 3px 3px spx #ccc;
    .nme{
        font-weight: bold;
        margin-bottom: 1rem;
    }
    .btn{
        padding: 1rem;
        width: 100%;
        border: none;
        border-radius: $base-measure;
        background-image: $custom-gradient;
        transition: background-image .5s linear;
        span{
            text-decoration: underline;
        }
        &:hover{
            background-image: $custom-gradient-inverted;
            cursor: pointer;
        }
    }
}